body{
    margin:0;
}

.p1{
    background-color:#1f2937;
    margin:0;
    display:flex;
    flex-direction:column;
    padding-left:150px;
    padding-right:150px;
}

.header{
    margin:20px;
    display:flex;
    justify-content: space-between;
}

.H-link-div{
    display:flex;
    align-items:center;
}

.header-logo
{
    font-size:24px;
    color:#F9FAF8;
    display:flex;
}

.header-links
{
    font-size:18px;
    color:#E5E7EB;
    padding:10px;
}

.info-title
{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.description
{
    display:flex;
    justify-content:space-between;
    margin:50px;
}

.desc
{
    font-size:18px;
    color:#E5E7EB; 
}


.img-1{
    width:80%;
    height:auto;
}

button
{
    background-color:#3882F6;
    color:white;
}

.p2
{
    padding:60px;
}

.p2-info
{
    display:flex;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    justify-content:center;
}

.imgandtext
{
    display:flex;
    padding-left:150px;
    padding-right:150px;
    justify-content:center;
}

.i-inf
{
    width:150px;
    margin:30px;
}

.i-text
{
    font-size:18px;
    color:black;
    text-align:center;
}

.img-2{
    width:150px;
    height:150px;
    border-radius:15px;
}

.p3
{
    background-color:#E5E7EB;
}

.quote
{
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-text
{
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
}

.quote-author
{
    display:flex;
    font-size:24px;
    justify-content:end;
}

.signup
{
    display:flex;
    background-color: #3882F6;
    margin:400px;
    margin-top:100px;
    margin-bottom:100px;
    padding:50px;
    border-radius:15px;
    justify-content: space-evenly;
}

.signup-text
{
    color:#F9FAF8;
    font-size:24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.signup-text .main
{
    font-weight:900;
}

.signup-text .sec{
    font-size:20px;
    font-weight:lighter;
}

.signup-button button
{
    height:32px;
    width:100px;
    border-radius: 8px;
    border-color:white;
}

.signup-button
{
    display:flex;
    align-items:center;
}