body{
    margin:0;
}

.p1{
    background-color:#1f2937;
    margin:0;
    display:flex;
    flex-direction:column;
    padding-left:150px;
    padding-right:150px;
}

.header{
    margin:20px;
    display:flex;
    justify-content: space-between;
}

.H-link-div{
    display:flex;
    align-items:center;
}

.header-logo
{
    font-size:24px;
    color:#F9FAF8;
    display:flex;
}

.header-links
{
    font-size:18px;
    color:#E5E7EB;
    padding:10px;
}

.info-title
{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.description
{
    display:flex;
    justify-content:space-between;
    margin:50px;
}

.desc
{
    font-size:18px;
    color:#E5E7EB; 
}


.img-1{
    width:80%;
    height:auto;
}

button
{
    background-color:#3882F6;
    color:white;
}

.p2-info
{
    display:flex;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    justify-content:center;
}

.imgandtext
{
    display:flex;
    padding-left:150px;
    padding-right:150px;
    justify-content:center;
}

.i-inf
{
    width:150px;
    margin:30px;
}

.i-text
{
    font-size:18px;
    color:black;
    text-align:center;
}

.img-2{
    width:150px;
    height:150px;
    border-radius:15px;
}
